<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>La Vela</title>
</head>
<body>

<div class="main_menu" th:fragment="header">
    <a href="/candle/homepage" class="Home_Page">Главная страница</a>
    <a href="/admin/personal_area" class="Page">Личный кабинет</a>
</div>
<select th:fragment="selectField(items, fieldName)" th:field="*{__${fieldName}__}" id="__${fieldName}__">
    <option value="0">select option</option>
    <option th:each="item : ${items}" th:value="${item.id}" th:text="${item.name}"></option>
</select>
</body>
</html>