<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>La Vela</title>
</head>
<body>
<div class="header center">
    <div class="main_menu" th:insert="~{fragments:: header}"></div>
</div>
<div class="content2 center">
    <div class="control_menu">
        <р1>USER PAGE COMING SOON</р1>
        <a href="/logout" class="Page">разлогиниться</a>
    </div>
</div>
<div class="footer center">

</div>

</body>
</html>