<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>La Vela</title>
</head>
<body>
    <div class="header center">
        <div class="main_menu" th:insert="~{fragments :: header}"></div>
    </div>
    <div class="content center">
        <div class="content_form">
            <form action="#" th:action="@{/candle/update}" th:object="${candle}" method="post">
                <label for="id">ID</label>
                <input readonly type="number" th:field="*{id}" id="id" placeholder="id">
                <br/>
                <label for="name">Name</label>
                <input type="text" th:field="*{name}" id="name" placeholder="Name">
                <br/>
                <label for="description">Description</label>
                <input type="text" th:field="*{description}" id="description" placeholder="Description">
                <br/>
                <label for="candlestick">Candlestick</label>
                <select th:field="*{candlestick}" id="candlestick">
                    <option th:value="${candle.candlestick.id}" th:text="${candle.candlestick.name}"></option>
                    <option th:each="c : ${candlesticks}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
                <br/>
                <label for="flavoring">Flavoring</label>
                <select th:field="*{flavoring}" id="flavoring">
                    <option th:value="${candle.flavoring.id}" th:text="${candle.flavoring.name}"></option>
                    <option th:each="f : ${flavorings}" th:value="${f.id}" th:text="${f.name}"></option>
                </select>
                <br/>
                <label for="wax">Wax</label>
                <select th:field="*{wax}" id="wax">
                    <option th:value="${candle.wax.id}" th:text="${candle.wax.name}"></option>
                    <option th:each="w : ${waxes}" th:value="${w.id}" th:text="${w.name}"></option>
                </select>
                <br/>
                <label for="amount">Amount</label>
                <input type="number" th:field="*{amount}" id="amount" placeholder="Amount">
                <br/>
                <label for="price">Price</label>
                <input type="number" th:field="*{price}" id="price" placeholder="Price">
                <br/>
                <input type="submit" value="Update Candle">
            </form>
        </div>
    </div>
    <div class="footer center">

    </div>
</body>
</html>